.cart-button {
  display: inline-block;
  position: absolute; /*fixed=остается при скроле*/
  right: 20px;
  top: 90px;
  text-decoration: none;
  background-color: #0E3E8DFF;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cart-button:hover {
  background-color: #001246;
}
