.request-filter-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  font-family: "Century Gothic", sans-serif;
  width: 400px;
}

.request-filter-form {
  display: flex;
  align-items: center;
}

.request-filter-label {
  margin-left: 15px;
  font-weight: bold;
}

.request-filter-select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 77px;
  font-family: "Century Gothic", sans-serif;
  width: 190px;
}

.label-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.date-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.date-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-family: "Century Gothic", sans-serif;
  width: 100%;
}