/* Add these styles to your existing CSS file */

/* Navbar styles */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    background-color: #001246;
    color: #ffffff;
    z-index: 1000;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.navbar-wrapper {
    max-width: 1240px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo,
.navbar-block,
.navbar-profile {
    color: inherit;
    text-decoration: none;
    position: relative;
}

.navbar-block::before,
.navbar-profile::before,
.navbar-logo::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
}

.navbar-block:hover::before,
.navbar-profile:hover::before,
.navbar-logo:hover::before {
    transform: scaleX(1);
}

.navbar-block:hover,
.navbar-profile:hover,
.navbar-logo:hover {
    color: inherit;
}

.nav-dropdown .nav-link,
.nav-dropdown:hover .nav-link {
    color: #fff;
}

.navbar-toggler {
    margin-right: 0;
    border: none;
    background-color: transparent !important;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-collapse {
    width: auto;
    max-width: 100%;
    flex-grow: 1;
    text-align: right;
    background-color: #001246;
    background-size: cover;
}

.navbar-nav {
    display: flex;
    position: relative;
    flex-direction: column;
}
