/* Basic */
body {
    background-color: #f0f0f0;
    font-family: "Century Gothic", sans-serif;
    padding: 0;
}

/* Button */
.button {
    background-color: #0E3E8DFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    font-family: "Century Gothic", sans-serif;
    font-size: 16px;
}

.button:hover {
    background-color: #001246;
}

/* Search-form*/

.search-form input[type="text"] {
    padding: 10px;
    border: 2px solid #0E3E8DFF;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s;
    margin: 10px 20px 0 20px;
}

.search-form input[type="text"]:focus {
    border-color: #001246;
}

/* Breadcrumbs */

.breadcrumbs {
    font-family: "Century Gothic", sans-serif;
    font-size: 20px;
    max-width: 1200px;
    margin-top: 80px;
    margin-left: 20px;
}

.breadcrumbs > *{
    display: inline-block;
    margin-right: 10px;
}

.breadcrumbs .crumb::after{
    content: '/';
    margin-left: 10px;
}

.breadcrumbs .crumb:last-child::after{
    display: none
}

.breadcrumbs .crumb a{
    color: #000000;
}

/* Navbar */
.navbar {
    position: fixed;
    padding-left: 20px;
    padding-right: 20px;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 64px;
    background-color: #001246;
    color: #ffffff;
}

.navbar-wrapper {
    font-size: 16px;
    position: relative;
    max-width: 1240px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10 auto;
}

.navbar-blocks {
    display: flex;
    gap: 50px;
    margin: 0 auto;
}

.navbar-logo {
    font-weight: 700;
    color: inherit;
    transition: text-decoration 0.3s;
}

.navbar-block, 
.navbar-profile, 
.navbar-logo {
    position: relative;
    color: inherit;
    text-decoration: none;
}

.navbar-block::before, 
.navbar-profile::before, 
.navbar-logo::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
}

.navbar-block:hover::before, 
.navbar-profile:hover::before, 
.navbar-logo:hover::before {
    transform: scaleX(1);
}

.navbar-block:hover,
.navbar-profile:hover,
.navbar-logo:hover {
    color: inherit;
}

/* OrbitPage */
.card-sub {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 2px 4px rgb(0, 18, 70);
}

.card-content-sub {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.card_image-sub {
    width: 400px;
    height: 300px;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.right-content-sub {
    flex: 1;
    text-align: left;
    margin-left: 20px;
}

.right-content-sub p {
    margin-top: 10px;
}

/* OrbitsPage */
.card_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.card_image {
    width: 400px;
    height: 400px;
    object-fit: contain;
    max-width: 100%;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgb(0, 18, 70);
}

.card_title {
    font-size: 20px;
    margin: 10px 0;
}
