/* Общее */
body {
    background-color: #f0f0f0;
    font-family: "Century Gothic", sans-serif;
    padding: 0;
}

.button {
    background-color: #0E3E8DFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    font-family: "Century Gothic", sans-serif;
    font-size: 16px;
}

.button:hover {
    background-color: #001246;
}

.search-form input[type="text"] {
    padding: 10px;
    border: 2px solid #0E3E8DFF;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s;
    margin: 80px 20px 0 20px;
}

.search-form input[type="text"]:focus {
    border-color: #001246;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 64px;
    background-color: #001246;
    color: #ffffff;
}

.header-wrapper {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    max-width: 1240px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10 auto;
}

.header-blocks {
    display: flex;
    gap: 50px;
    margin: 0 auto;
}

.header-block {
    text-decoration: none;
    color: inherit;
}

.header-logo {
    font-weight: 700;
    text-decoration: none;
    color: inherit;
}

.header-profile {
    text-decoration: none;
    color: inherit;
}

/* OrbitPage */
.card-sub {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 2px 4px rgb(0, 18, 70);
}

.card-content-sub {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.card_image-sub {
    width: 400px;
    height: 300px;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.right-content-sub {
    flex: 1;
    text-align: left;
    margin-left: 20px;
}

.right-content-sub p {
    margin-top: 10px;
}

/* OrbitsPage */
.card_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.card_image {
    width: 400px;
    height: 400px;
    object-fit: contain;
    max-width: 100%;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgb(0, 18, 70);
}

.card_title {
    font-size: 20px;
    margin: 10px 0;
}
