body {
    background-color: #f0f0f0;
    font-family: "Century Gothic", sans-serif;
    padding: 0;
}

.header {
    background-color: #001246;
    color: white;
    text-align: center;
    padding: 20px;
}


.card_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.card_image {
    width: 400px;
    height: 400px;
    object-fit: contain;
    max-width: 100%;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgb(0, 18, 70);
}


.card-sub {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 2px 4px rgb(0, 18, 70);
}

.card-content-sub {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-content-sub {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.card_image-sub {
    width: 400px;
    height: 300px;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.right-content-sub {
    flex: 1;
    text-align: left;
    margin-left: 20px;
}

.right-content-sub p {
    margin-top: 10px;
}

.card_title {
    font-size: 20px;
    margin: 10px 0;
}


.button {
    background-color: #0E3E8DFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    font-family: "Century Gothic", sans-serif;
    font-size: 16px;
}

.button:hover {
    background-color: #001246;
}

.search-form {
    text-align: left;
    margin: 20px 20px 0 20px;
}


.search-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    margin-right: 10px;
    font-family: "Century Gothic", sans-serif
}

.search-form input[type="submit"] {
    background-color: #0e3e8d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Century Gothic", sans-serif
}

.search-form input[type="submit"]:hover {
    background-color: #001246;
}

