.modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-dialog {
    max-width: 80vw;
    margin: auto;
  }

  .common-button {
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    margin-top: 10px;
    justify-content: center;
    font-size: 16px;
    color: white;
  }
  
  .list-group {
    text-align: center;
    margin: 0 auto;
  }
  
  .button-group {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .cart-container > * {
    margin-bottom: 20px;
  }
  