.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgb(0, 18, 70);
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.card_image {
    width: 400px;
    height: 400px;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.card_title {
    font-size: 20px;
    margin: 10px 0;
}

.button-card,
.button-add {
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
    color: white;
}

.button-card {
    background-color: #0E3E8DFF;
}

.button:hover {
    background-color: #001246;
}

.card_status {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.card_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}