.orbit-table {
    width: 800px;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .orbit-table th, .orbit-table td {
    border: 1px solid #dddddd;
    text-align: left;
  }
  
  .orbit-table th {
    background-color: #f2f2f2;
  }
  
  .orbit-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .orbit-table tbody tr:hover {
    background-color: #e0e0e0;
  }
  

  .orbit-center-table {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .orbit-table-button {
    background-color: #0E3E8DFF;
    color: white;
    padding: 10px 20px;
    margin-left: 60px;
    margin-top:10px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-family: "Century Gothic", sans-serif;
    font-size: 16px;
    width: 150px;
}

.orbit-table-button:hover {
    background-color: #001246;
}